[project]
name = "dlt-clickhouse-rill"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "datasets>=4.4.1",
    "duckdb>=1.4.1",
]
